body, nav, select, li, div, footer, section {
    margin: 0;
    padding: 0;
}

aside, article, section, header,footer,nav {
    display: block;
}

body {
    margin: 5%;
    padding: 0;
    width: 90%;
    height: 100%;
}

