body,
nav,
select,
li,
div,
footer,
section {
    margin: 0;
    padding: 0;
}

aside,
article,
section,
header,
footer,
nav {
    display: block;
}

body {
    border: 1px solid black;
    padding: 0%;
    width: 100%;
    height: 100%;
}

.container {
    /*background-color: springgreen;*/
    border: 2px solid grey;
    margin: 10px auto;
    padding: 10px;
    height: 700%;
    width: 100%;
}

.top-banner {
    border:1px solid darkgreen;
    margin: auto;
    padding: 1px;
    width: 100%;
    height: 50%;
}

.content {
    width: 100%;
    height: 70%;
}

nav {
    text-align: right;
    height: 50px;
}

.left-column {
    width: 60%;
}

.right-column {
    width: 30%;
    float: right;
}

.categories {
    padding: 5px;
}

footer {
    border: 1px solid darkgreen;
    margin: auto;
    padding: 1px;
    width: 100%;
    height: 70%;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
}






/* responsive */

@media {
    .container {
        width: 90%;
    }

    .top-banner {
        width: auto;
    }

    nav {
        height: 50px;
        text-align: right;
    }

    .content {
        width: auto;
        height: 100%;
        margin: 3px;
    }

    .content-body {
        padding: 5px;
    }

    footer {
        width: auto;
        height: 150px;
        text-align: center;
    }
}




/* modile */

@media only screen and (max-width:480px) {

    nav {
        text-align: center;
        height: 50px;
    }

    .right-column {
        display: none;
    }

    .left-column {
        width: 100%;
    }
}
